.education {
  margin-bottom: 20px;
}

.education-header {
  color: var(--secondary-text-color);
  text-align: left;
  margin-bottom: 20px;
}

.education-durability {
  color: var(--durability-text-color);
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.education-speciality {
  color: var(--primary-text-color);
  text-align: left;
  margin-bottom: 10px;
}

.education-name {
  color: var(--secondary-text-color);
}
