.contact-info__header {
  color: var(--primary-text-color);
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.contact-info__sub-header {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  font-weight: 500;
}

.contact-info__header,
.contact-info__sub-header {
  text-align: center;
}

.contact-info__container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  border-top: 3px solid var(--border-color);
}

.contact-info__block {
}

