.facebook:hover {
  color: #1877f2;
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #e1306c;
}
.telegram:hover {
  color: #0088cc;
}
.youtube:hover {
  color: #ff0000;
}
.github:hover {
  color: #181717;
}
.location:hover {
  color: #000000;
}
