.social-icons {
  display: flex;
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--secondary-color);
  transition: var(--transition);
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0.5rem;
}

.social-icons a:hover {
  color: white;
  transform: translateY(-2px);
}

.facebook:hover {
  color: #1877f2;
}
.twitter:hover {
  color: #1da1f2;
}
.instagram:hover {
  color: #e1306c;
}
.telegram:hover {
  color: #0088cc;
}
.youtube:hover {
  color: #ff0000;
}
.github:hover {
  color: #181717;
}
.location:hover {
  color: #379121;
}
.phone:hover {
  color: #1b0e96;
}
.email:hover {
  color: #379121;
}

