@import "contact.css";
@import "socials.css";
@import "icons.css";
@import "slider.css";
@import "intro.css";
@import "tabs.css";
@import "skills.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --text-color: #2c3e50;
  --light-text: #7f8c8d;
  --opacity-text: #7f8c8dbb;
  --background-color: #8ac5ff;
  --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;

  --level-bar-low-color: #f32f2fda;
  --level-bar-medium-color: #f3a42f;
  --level-bar-high-color: #0b810b;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

.resume {
  margin: 2rem auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px var(--shadow-color);
  padding: 2rem 0;
  max-width: 1000px;
  overflow: hidden;
}
.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1000px;
  
}

.resume__block {
  padding: 0 2rem;
  margin-top: 2rem;
  width: 100%;
  border-bottom: 3px solid var(--border-color);
}

@media screen and (max-width: 768px) {
  .resume {
    margin: 20px;
    padding: 20px 0;
  }

  .resume__block {
    margin: 0 20px;
    padding: 20px 0;
  }

  .container {
    padding: 0 20px;
  }

  .contact-info__header {
    font-size: 2rem;
  }

  .contact-info__sub-header {
    font-size: 1.2rem;
  }

  .contact_info_container {
    flex-direction: column;
    gap: 20px;
  }

  .contact-info__block--center {
    order: -1;
    margin-bottom: 20px;
  }
}


